body {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

h1 {
    text-align: center;
    font-weight: lighter;
    letter-spacing: -2px;
    color: hsl(229, 6%, 66%);
    margin-bottom: 2px;
}

h2 {
    font-weight: 800;
    letter-spacing: 0.5px;
    color: hsl(229, 6%, 66%);
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: center;
}

h3 {
    font-weight: 400;
    text-align: center;
    color: lightgray;
    letter-spacing: -1px;
}

img {
    width: 20px;
    height: 20px;
}

.box-container {
    height: 700px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.box-container-1 {
    align-self: center;
}

.box-container-2 {
    align-self: flex-start;
}

.box {
    width: 350px;
    height: 230px;
    text-align: left;
    border: 6px solid;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 12px;
    box-shadow: 0px 5px 5px 5px hsl(229, 6%, 66%);
    padding: 20px 30px;
}

img.icon {
    position: relative;
    top: 20px;
    left: 300px;
    height: 50px;
    width: 50px;
}

h4 {
    margin-top: 15px;
    font-weight: bolder;
    color: black;
}

p {
    margin: 0;
    text-align: left;
}

.box-1 {
    flex-flow: column;
    margin-right: 25px;
    border-top-color: hsl(180, 62%, 55%);
}

.box-2 {
    margin-top: 40px;
    border-top-color: hsl(0, 78%, 62%);
}

.box-3 {
    flex-flow: column;
    align-self: flex-start;
    margin-top: 20px;
    border-top-color: hsl(34, 97%, 64%);
}

.box-4 {
    flex-flow: column;
    align-self: center;
    margin-left: 25px;
    border-top-color: hsl(212, 86%, 64%);
}

.box-1:hover {
    background-color: hsl(180, 62%, 55%, 0.12);
}

.box-2:hover {
    background-color: hsl(0, 78%, 62%, 0.12);
}

.box-3:hover {
    background-color: hsl(34, 97%, 64%, 0.12);
}

.box-4:hover {
    background-color: hsl(212, 86%, 64%, 0.12);
}

@media (max-width: 800px) {
    .box-container {
        flex-direction: column;
    }
    .box-1 {
        margin-top: 600px;
    }
    .box-2 {
        margin-top: 20px;
    }
    .box-container-2 {
        align-self: auto;
        margin-left: -20px;
    }
    .box-4 {
        margin-top: 20px;
        margin-right: 43px;
        margin-bottom: 10px;
    }
}